<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJgkO_AzHaEWRxv1S1AinPkwu9g-OSwx0</string>
	<key>GCM_SENDER_ID</key>
	<string>1034608559372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carsdoctors</string>
	<key>PROJECT_ID</key>
	<string>carsdoctor-db618</string>
	<key>STORAGE_BUCKET</key>
	<string>carsdoctor-db618.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034608559372:ios:e64406623fec085a55f529</string>
</dict>
</plist>